/* Centraliza todo conteudo contido na tag body  e define o tamanho máximo para a largura como 700px */
body{
    margin:auto; 
    padding:auto;
    text-align: center;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
}

/* Ajusta o título, alinhamento, espaço entre as letras e tipo de font*/
h1{
    text-align: center;
    letter-spacing: 0.3em;
    font-weight: normal;
    text-transform: uppercase; 
}

/* Define o tamanho e posicionamento do grid, espaçamento das colunas, expessura e bor da borda */
.grid-container{
    display:grid;
    grid-column-gap:1px; /*Define o espaço entre as colunas*/
    width: 560px;
    height: 560px;/*Define o tamanho do container*/
    grid-template-columns: auto auto auto auto auto auto auto auto ; /*Divide o grid-container em 8 colunas*/
    border: 10px solid #cccccc;
    margin-left: 70px;
}

/* Pinta os blocos */
.line-1 div:nth-child(2n+1){
    background: black;
}

/* Pinta os blocos */
.line-2 div:nth-child(2n){
    background: black;
}

/* Define o tamanho dos blocos */
div {
    height: 70px;
    position: relative; 
}

/* Define posicionamento das (imagens) peças em relação aos blocos */
img{
    position: absolute;
    height: 60px;
    margin-left: -30px;
}









